.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    center / cover url(../../../../assets/hero.webp);
  min-height: calc(100vh+5rem);
  height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  margin-inline: auto;
  max-width: 75rem;
}

.content {
  max-width: 60rem;
}

.logo {
  display: none;
}

.subtitle,
.description {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.subtitle {
  color: #fca26e;
  text-transform: uppercase;
}

.title {
  font-size: 4rem;
  font-weight: 600;
  margin-block: 1.25rem;
  color: rgba(255, 255, 255, 0.6);
}

.description {
  margin-bottom: 2.25rem;
  color: #fca26e;
  font-weight: 300;
}

.buttons {
  display: flex;
  column-gap: 2rem;
}

.button {
  background: #fca26e;
  border-radius: 30px;
  color: #1f4034;
  font-size: 1rem;
  font-weight: 800;
  margin: 0.5rem 0.5rem;
  text-transform: uppercase;
  padding: 1rem 3rem;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.button:hover {
  background: #1f4034;
  color: #fca26e;
  transition: background-color 0.5s ease, color 0.5s ease;
}

@media screen and (max-width: 768px) {
  .container {
    padding-inline: 0.75rem;
    text-align: center;
  }

  .logo {
    display: block;
    height: 16rem;
    width: auto;
    margin: 1rem auto;
  }

  .subtitle {
    display: none;
  }

  .description {
    font-size: 1.75rem;
  }
  .title {
    font-size: 2.7rem;
  }
  .button {
    margin: 0 auto;
    padding: 1rem 4rem;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    padding-inline: 4rem;
  }
}
