.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.trail_card {
  width: 100%;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.trail_card:hover {
  transform: translateY(-0.5rem);
}

.button_wrapper {
  width: 100%;
}

.button {
  margin: 0 auto;
  max-width: 25rem;
  width: 100%;
  cursor: pointer;
  padding: 1rem 3rem;
  background-color: transparent;
  border: 1px solid #fca26e;
  border-radius: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  transition: 0.5s ease;
  position: relative;
}

.button:hover {
  background-color: #fca16e;
  color: #1f4034;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.arrow {
  width: 0.9rem;
  height: 0.9rem;
  margin-left: 0.2rem;
  transition: margin-left 0.5s ease;
}

.button:hover .arrow {
  margin-left: 0.8rem;
}

@media screen and (min-width: 768px) {
  .trail_card {
    width: calc(50% - 4rem);
  }
}

@media screen and (min-width: 1024px) {
  .trail_card {
    width: calc(33.33% - 4rem);
  }
}

@media screen and (min-width: 1800px) {
  .trail_card {
    width: calc(25% - 4rem);
  }
}
