.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.trail_card {
  width: 100%;
  transition: 0.5s ease-in-out;
}

.trail_card:hover {
  transform: translateY(-0.5rem);
}

@media screen and (min-width: 768px) {
  .trail_card {
    width: calc(50% - 4rem);
  }
}

@media screen and (min-width: 1024px) {
  .trail_card {
    width: calc(33.33% - 4rem);
  }
}

@media screen and (min-width: 1800px) {
  .trail_card {
    width: calc(25% - 4rem);
  }
}
