.error_wrapper {
  width: 100%;
  border-radius: 12px;
  color: #1a202c;
  background-color: #f87171;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  max-width: 28rem;
}
