.container {
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.313rem;
  padding-right: 0.313rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.75rem;
}

.logo {
  position: absolute;
  top: -0.2rem;
  left: -9.5rem;
  width: 4.5rem;
  height: auto;
}

.navbar {
  border: 1px solid white;
  border-radius: 30px;
  font-weight: 500;
}

.navbar,
.navbar_items {
  display: flex;
  list-style-type: none;
}

.navbar_items li {
  color: #fca26e;
  padding: 1rem 1.5rem;
  margin: 3px 3px;
}

.navbar_items li:last-child {
  border: 1px solid white;
  border-radius: 27px;
  text-transform: uppercase;
}

.navbar_items li:hover {
  background-color: rgba(252, 162, 110, 0.4);
  border-radius: 27px;
  transition: ease-in-out 0.3s;
}

a {
  text-decoration: none;
  color: white;
  display: block;
}

.login {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  cursor: pointer;
}

.burger_icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    z-index: 0;
  }
  .header {
    margin-top: 0;
    flex-direction: column;
  }

  .navbar {
    z-index: -1;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-radius: 0;
    border: none;
    background-color: #14281f;
    transition: 0.4s ease-in;
  }

  .navbar_items {
    flex-direction: column;
    font-size: 1.5rem;
    width: 100vw;
    align-items: center;
  }

  .navbar_items li:hover {
    background-color: transparent;
    border: none;
    border-radius: 0;
    transition: 0.1s ease-in-out;
  }

  .navbar_items li:last-child {
    border: none;
  }

  .login {
    font-size: 1.3rem;
    text-transform: uppercase;
  }

  .burger_icon {
    font-size: 1.5rem;
    color: white;
    position: fixed;
    top: 1.5rem;
    right: 2rem;
    display: block;
  }
}

@media screen and (max-width: 1280px) {
  .logo {
    display: none;
  }
}
