.container {
  background-color: red;
  height: 100px;
  margin-top: 1.5rem;
}

.header {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.313rem;
  padding-right: 0.313rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.75rem;
}

.logo {
  position: absolute;
  top: 3;
  left: 5rem;
  width: auto;
  height: 5rem;
}

.navbar {
  border: 1px solid white;
  border-radius: 20px;
}

.navbar,
.navbar_items {
  display: flex;
}

.navbar_items {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar_items li {
  color: white;
  padding: 1rem 1.5rem;
  margin: 3px 3px;
}

.navbar_items li:last-child {
  border: 1px solid white;
  border-radius: 17px;
}

.navbar_items li:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 17px;
}

a {
  text-decoration: none;
  color: white;
  display: block;
}

.login {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  color: white;
}
