.container {
  width: 100%;
  margin: 0 auto;
  max-width: 78rem;
  display: flex;
  flex-direction: column;
  padding: 1.25rem 1.25rem;
  padding-top: 2.5rem;
}

.breadcrumbs_wrap {
  flex: 1;
}

.post_image {
  width: 100%;
  border-radius: 12px;
}

.category_link {
  color: #ccdcdd;
  font-weight: 900;
  letter-spacing: 0.2rem;
  font-size: 0.875rem;
  display: inline-block;
  margin-top: 0.4rem;
}

.post_title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 1rem;
  color: #fca26e;
  letter-spacing: 0.2rem;
}

.post_description {
  margin-top: 4rem;
  color: #ccdcdd;
}

.post_description p {
  line-height: 1.75rem;
}

.suggested_trails {
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .container {
    padding-top: 6rem;
  }

  .category_link {
    font-size: 1rem;
  }

  .post_title {
    font-size: 1.625rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .suggested_trails {
    margin-top: 0;
    max-width: 20rem;
  }
}
